.city{
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
}
.product_image_one{
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    color:black;
}
.product_image_one>.product{
    width: 20vw ;
}
.product_image_one img{
    width: 100% ; 
}

.product_image{
    width: 100%;
    margin:0px auto;
}
.product_content{
    color:white;
    width: 100%;
    margin:0 auto;
    background-color: orangered;
    position: relative;
    top:-3%;
    text-align: center;
}
.product_content>p{
    height: 20vh;
    line-height: 20vh;

}