* {
    margin: 0;
    padding: 0;
}
.BoxBanner{
    position: relative;
    top:6vh
}
.conTent { 
    text-align: center;
    color: black;
    width: 400px;
    margin:0px auto;
    position: relative;
    z-index: 2;
}
h2 {
    font-size: 200%;
    padding-bottom: 20px;
}
.btnBanner {
    background-color: orangered;
    color: white;
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    border:none;
    width:200px;
    box-shadow: 0 2px 5px gray;
}
.BoxBanner>img{
    width: 100%;
}
.BoxBanner{
    width: 600px;
    margin:0 auto;
}
