#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin:0 auto;
    margin-top: 2%;
   
   

}
#footer div{
    flex: 1;
    margin: 10% 0 2%;
}
